
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">
                <div class="tab" id="">
                    <main class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-6">
                                    <table class="table table-borderless table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Tema Material</th>
                                                <th>Indicador</th>
                                                <th>Unidad de Medida</th>
                                                <th>Responsable</th>
                                                <th>Comentario</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>
                                        
                                        {% for son in page.specific.get_children %}
                                            {% if '/indicadores/' in son.get_url %}
                                                {% for grandson in son.specific.get_children %}
                                                    <tr>      
                                                        <td scope="col">{{ grandson.specific.tema_material | richtext }}</td>
                                                        <td scope="col">{{ grandson.specific.id_indicador | richtext }}</td>
                                                        <td scope="col">{{ grandson.specific.medida | richtext }}</td>
                                                        <td scope="col">{{ grandson.specific.responsable | richtext }}</td>
                                                        <td scope="col">{{ grandson.specific.comentario | richtext }}</td>
                                                        <td scope="col">{{ grandson.specific.estado | richtext }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        <tr>
                                            <td>Agua</td>
                                            <td>305-2</td>
                                            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                            <td>Laura</td>
                                            <td></td>
                                            <td>Cola de Espera</td>
                                        </tr>
                                        <tr>
                                            <td>Eficiencia Energética</td>
                                            <td>303-4</td>
                                            <td>Intecidad Energética</td>
                                            <td>Bianca</td>
                                            <td></td>
                                            <td>Aguardando Validación</td>
                                        </tr>
                                        <!-- tr>
                                            <td>Embalagem</td>
                                            <td>302-3</td>
                                            <td>Porcentaje de Objetos Reciclados</td>
                                            <td>Carolina</td>
                                            <td></td>
                                            <td>Aún no iniciado</td>
                                        </tr>
                                        <tr>
                                            <td>Eficiencia Energética</td>
                                            <td>303-4</td>
                                            <td>Intesidad Energética (MJ/L)</td>
                                            <td>Bianca</td>
                                            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit.</td>
                                            <td>No iniciado y atrasado</td>
                                        </tr>
                                        <tr>
                                            <td>Agua</td>
                                            <td>305-2</td>
                                            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                            <td>Laura</td>
                                            <td></td>
                                            <td>Cola de Espera</td>
                                        </tr>
                                        <tr>
                                            <td>Eficiencia Energética</td>
                                            <td>303-4</td>
                                            <td>Intecidad Energética</td>
                                            <td>Bianca</td>
                                            <td></td>
                                            <td>Aguardando Validación</td>
                                        </tr>
                                        <tr>
                                            <td>Agua</td>
                                            <td>305-2</td>
                                            <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                                            <td>Laura</td>
                                            <td></td>
                                            <td>Concluido</td>
                                        </tr -->
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>     
    </div>

<!-- El footer -->
{% include "partials/footer.html" %}

{% endblock %}
