
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">
                <div class="tab" id="">
                    <main class="container">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-6">
                                    <table class="table table-bordered table-hover">
                                        <tr>
                                            <th>2023</th>
                                            <th>2022</th>
                                            <th>2021</th>
                                            <th>2020</th>
                                            <th>2019</th>
                                            <th>2018</th>
                                        </tr>
                                        <tr>
                                            <td>Fuentes Renovables</td>
                                            <td>{}</td>
                                            <td>{}</td>
                                            <td>{}</td>
                                            <td>{}</td>
                                            <td>{}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>     
    </div>

<!-- El footer -->
{% include "partials/footer.html" %}

{% endblock %}
