
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">

                <!-- Los contenidos de los tab de antes, también llamados tab panels -->
                <div class="tab-content"  id="nav-tabContent">

                    <!-- El tab panel del contenido -->
                    <div class="tab-pane show active" id="contenido" role="tabpanel" aria-labelledby="contenido-tab" tabindex="0">
                        <main class="container">
                                <br  />
                            <div class="card">
                                <div class="card-body">
                                    <div class="mb-6">
                                        <table class="table table-borderless table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Tema Material</th>
                                                    <th>Indicador</th>
                                                    <th>Responsable</th>
                                                    <th>Estado</th>
                                                </tr>
                                            </thead>
                                            
                                            {% for son in page.specific.get_children %}                                             
                                            <tr>
                                                <td scope="col">{{ son.specific.tema_material | richtext }}</td>
                                                <td scope="col">{{ son.specific.id_indicador | richtext }}</td>
                                                <td scope="col">{{ son.specific.responsable | richtext }}</td>
                                                <td scope="col">{{ son.specific.estado | richtext }}</td>
                                                <td scope="col"><a href="{{ son.specific.get_url }}">Abrir</a></td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>     
                </div>
                <!-- Button trigger modal -->
  
            </div>
        </div>     
    </div>
    
<!-- El footer -->
{% include "partials/footer.html" %}

{% endblock %}
