
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">

                <!-- Los tabs de navegación -->
                <div class="col-9">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="contenido-tab" data-bs-toggle="tab" data-bs-target="#contenido" type="button" role="tab" aria-controls="contenido" aria-selected="true">Contenido</button>
                            <button class="nav-link" id="analisis-tab" data-bs-toggle="tab" data-bs-target="#analisis" type="button" role="tab" aria-controls="analisis" aria-selected="false">Análisis</button>
                            <button class="nav-link" id="protocolo-tab" data-bs-toggle="tab" data-bs-target="#protocolo" type="button" role="tab" aria-controls="protocolo" aria-selected="false">Protocolo</button>
                        </div>
                    </nav>
                </div>

                <!-- Los botones de ¿acciones? Ni idea de cómo llamarlos -->
                <div class="col">
                    <a class="btn btn-primary" href="#">Guardar Borrador</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Enviar Aprovación</button>
                </div>

                <!-- Los contenidos de los tab de antes, también llamados tab panels -->
                <div class="tab-content"  id="nav-tabContent">

                    <!-- El tab panel del contenido -->
                    <div class="tab-pane show active" id="contenido" role="tabpanel" aria-labelledby="contenido-tab" tabindex="0">
                        <main class="container">
                                <br  />
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Indicadores > {{ page.specific.tema_material }} {{ page.specific.id_indicador }}</h5>
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th scope="col">Material</th>
                                                <th scope="col">Mil Ton</th>
                                                <th scope="col">Porcentaje</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for block in page.historial %}
                                                {% if block.block_type == 'parameters' %}
                                                    <tr>
                                                        <td>{{ block.value.material }}</td>
                                                        <td>{{ block.value.valor }}</td>
                                                        <td>{{ block.value.porcentaje }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <br  />
                            <h4>Preguntas</h4>
                            <input type="text" class="form-control">
                            <input type="text" class="form-control" disabled>
                                <br  />
                            <h4>Años Anteriores:</h4>
                            <div class="accordion" id="accordionPanelsStayOpenExample">
                                {% for parameter in page.historial %}
                                    <div class="accordion-item">
                                        {% if parameter.block_type == 'id_year' %}
                                            <h2 class="accordion-header" id="panelsStayOpen-heading{{ parameter.value.id }}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse{{ parameter.value.id }}" aria-expanded="false" aria-controls="panelsStayOpen-collapse">
                                                    <label>{{ parameter.value.year }}</label>
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-collapse{{ parameter.value.id }}" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading{{ parameter.value.id }}">
                                                <div class="accordion-body">
                                                    <table class="table table-bordered table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">Material</th>
                                                                <th scope="col">Mil Ton</th>
                                                                <th scope="col">Porcentaje</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for para in page.historial %}
                                                                {% if para.block_type == 'parameters' %}
                                                                    {% if parameter.value.id == para.value.id %}
                                                                        <tr>
                                                                            <td>{{ para.value.material }}</td>
                                                                            <td>{{ para.value.valor }}</td>
                                                                            <td>{{ para.value.porcentaje }}%</td>
                                                                        </tr>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                        </main>
                    </div>
                    
                    <!-- El tab panel del análisis -->
                    <div class="tab-pane" id="analisis" role="tabpanel" aria-labelledby="analisis-tab" tabindex="0">
                        <main class="container">
                                <br  />
                            <div class="card" id="analisis">
                                <div class="card-body">
                                    <div class="mb-6">
                                        <table class="table table-bordered table-hover">
                                            <tr>
                                                <th rowspan="1"></th>
                                                {% for block in page.historial %}
                                                    {% if block.block_type == 'id_year' %}
                                                        <th>{{ block.value.year }}</th>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                            <tr>
                                                <th>Fuentes Renovables</th>
                                                {% for block in page.historial %}
                                                    {% if block.block_type == 'id_year' %}
                                                        <th></th>
                                                    {% endif %}
                                                {% endfor %}
                                            </tr>
                                        </table>
                                        <center>
                                            <img src="https://lh4.googleusercontent.com/eKgfVlAQwf5x8pAp8YJsnvbm8siycLuuPyRj3fsCLYmogQCNCTT0iHG3q8Gek2HMO2SdpxGR63NQs30gpBDndUhLp6r5OU2vgLxGtuP0z-dVTAElyg_G7ksJO4HY_3bQMuJ1Mzgkc7PKkejoVDNDe-pRZQPaQZV5KyRQE8Hof7mlrSCGUe0CH-aH_Mfz" alt="jojojojojojojo">
                                        </center>
                                    </div>
                                </div>
                            </div>

                        </main>
                    </div>
                    
                    <!-- El tab panel del protocolo -->
                    <div class="tab-pane" id="protocolo" role="tabpanel" aria-labelledby="protocolo-tab" tabindex="0">
                        <main class="container">
                                <br  />
                            <div id="parametros">
                                <div class="card">
                                    <div class="card-body">
                                        {% for protocolo in page.protocolo %}
                                            {% if protocolo.block_type == 'molde' %}
                                                <label><b>Descripción:</b></label>
                                                <p>{{ protocolo.value.desc }}</p>
                                                <label><b>Material:</b></label>
                                                <p>{{ protocolo.value.mater }}</p>
                                                <label><b>Tópico GRI:</b></label>
                                                <p>{{ protocolo.value.topic }}</p>
                                                <label><b>Relevancia del Contenido:</b></label>
                                                <p>{{ protocolo.value.relev }}</p>
                                                <label><b>Fuentes de Documentación:</b></label>
                                                <p>{{ protocolo.value.sources }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
                <!-- Button trigger modal -->
  
            </div>
        </div>     
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Formulario de Validación</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1">Pregunta #1: Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolore mollitia ut reiciendis molestias architecto eum minima, amet accusamus quo ea recusandae aliquam accusantium necessitatibus, reprehenderit est voluptates? Ad, dolor?</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1">Pregunta #2: Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ea ad ipsa dolore quas commodi non beatae animi facilis, quis alias tenetur expedita sit nulla voluptate vitae at ducimus atque!</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1">Pregunta #3: Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ea ad ipsa dolore quas commodi non beatae animi facilis, quis alias tenetur expedita sit nulla voluptate vitae at ducimus atque!</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1">Pregunta #4: Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ea ad ipsa dolore quas commodi non beatae animi facilis, quis alias tenetur expedita sit nulla voluptate vitae at ducimus atque!</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1">5. Comentario Adicional:</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <hr  />
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<!-- El footer -->
{% include "partials/footer.html" %}

{% endblock %}
