
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">
    
                <!-- Los contenidos de los tab de antes, también llamados tab panels -->
                <div class="tab-content" id="nav-tabContent">
                    <main class="container">
                        <div class="card">
                            <div class="card-body">
                                {% if page.get_url == '/informes/ambiental/' %}
                                    <h5 class="card-title">Ambiental</h5>
                                {% elif page.get_url == '/informes/economico/' %}
                                    <h5 class="card-title">Economico</h5>
                                {% elif page.get_url == '/informes/social/' %}
                                    <h5 class="card-title">Social</h5>
                                {% endif %}
                                <h5 class="card-title">Indicadores > Embalaje 302-3</h5>
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Material</th>
                                            <th scope="col">Mil Ton</th>
                                            <th scope="col">Porcentaje</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>PET</td>
                                            <td>148.2</td>
                                            <td>42.3%</td>
                                        </tr>
                                        <tr>
                                            <td>Vidro</td>
                                            <td>28.5</td>
                                            <td>8.6%</td>
                                        </tr>
                                        <tr>
                                            <td>Lata</td>
                                            <td>37.9</td>
                                            <td>11.1%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                            <br  />
                        <h4>Preguntas</h4>
                        <input type="text" class="form-control">
                        <input type="text" class="form-control">
                    </main>
                </div>
            </div>
        </div>
    </div>

<!-- El footer -->
{% include "partials/footer.html" %}
{% endblock %}
