
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->

        <main class="container">
                
            <h2>Login</h2>

            <div class="card" id="">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1">Usuario:</label>
                            <input class="form-control"></input>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1">Contraseña:</label>
                            <input class="form-control"></input>
                        </div>
                        <hr  />
                        <a href="/pmo/" class="btn btn-primary">Acceder</a>
                        <a href="{{ page.get_parent.url }}" class="btn btn-danger">Regresar</a>
                    </form>
                </div>
            </div>
        </main>
<script>
    var preguntas = '';
</script>

{% endblock %}
