
{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}

{% block content %}

<!-- El navbar de arriba y las cosas de boostrap -->
{% include "partials/header.html" %}

    <!-- El contenido debajo del navbar -->
    <div class="row">
    
        <!-- La barra lateral de la izquierda -->
        {% include "partials/nav_side_bar.html" %}
        
        <!-- El contenido de la derecha -->
        <div class="col ">
            <div class="row">
    
                <!-- Los contenidos de los tab de antes, también llamados tab panels -->
                <div class="tab-content" id="nav-tabContent">
                    <main class="container">
                        <h2>Control de Reportes: Vista Principal.</h2>
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label><b>Detalles de Asignaciones (No. de Formularios):</b></label>
                                        <p>Evento: 0</p>
                                        <p>Asignaciones Totales: 0</p>
                                        <p>Para Diligencia: 0</p>
                                        <p>Para Revisión: 0</p>
                                        <p>Para Aprobar: 0</p>
                                    </div>
                                    <div class="col-md-4">
                                        <img  style="width: auto; height: 300px;" src="https://lh4.googleusercontent.com/eKgfVlAQwf5x8pAp8YJsnvbm8siycLuuPyRj3fsCLYmogQCNCTT0iHG3q8Gek2HMO2SdpxGR63NQs30gpBDndUhLp6r5OU2vgLxGtuP0z-dVTAElyg_G7ksJO4HY_3bQMuJ1Mzgkc7PKkejoVDNDe-pRZQPaQZV5KyRQE8Hof7mlrSCGUe0CH-aH_Mfz" alt="jojojojojojojo">
                                    </div>
                                </div>
                                    <hr  />
                                <table class="table table-bordered table-hover">
                                    <tr>
                                        <th>indicador</th>
                                        <th>Qtdd</th>
                                        <th>Tema</th>
                                        <th>Material</th>
                                        <th>Descripción</th>
                                        <th>Área</th>
                                        <th>Fecha de Envío</th>
                                        <th>Última Fecha</th>
                                        <th>Plazo de Recibimiento</th>
                                        <th>Fecha de Recibimiento</th>
                                        <th>Eviado para Recibir</th>
                                        <th>Plazo para Recibir</th>
                                        <th>Revisión de Recibimiento</th>
                                        <th>Fecha Concluída</th>
                                    </tr>
                                    <tr>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                    </tr>
                                    <tr>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                        <td>{{ page.corp|richtext }}</td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

<!-- El footer -->
{% include "partials/footer.html" %}
{% endblock %}
