
        <!-- La barra lateral de la izquierda -->
        <div class="col-2">
            <div style="margin: 10%;">
                <ul class="list-group list-group-flush">
                    
                    {% if page.get_parent.url == None %}
                        <li class="list-group-item">
                            <a href="" class="nav-link active" aria-current="page">
                                <img width="30" height="30" src="https://static.vecteezy.com/system/resources/thumbnails/000/425/085/small/Multimedia__2814_29.jpg">
                                Home
                            </a>
                        </li>
                    {% else %}
                        <li class="list-group-item">
                            <a href="{{ page.get_parent.url }}" class="nav-link active" aria-current="page">
                                <img width="30" height="30" src="https://static.vecteezy.com/system/resources/thumbnails/000/425/085/small/Multimedia__2814_29.jpg">
                                Home
                            </a>
                        </li>
                    {% endif %}
                    
                    <li class="list-group-item">
                        <label>Indicadores</label>
                        <a href="/indicador/" class="nav-link active" aria-current="page">
                            <img width="30" height="30" src="https://cdn.vectorstock.com/i/preview-1x/62/06/double-click-icon-vector-47196206.jpg">
                            Recolectar
                        </a>
                    </li>
                    <li class="list-group-item">
                        <label>Informes</label>
                        <a href="#" class="nav-link active" aria-current="page">
                            <img width="30" height="30" src="https://static.vecteezy.com/system/resources/previews/002/358/936/non_2x/file-folder-icon-free-vector.jpg">
                            Ambiental
                        </a>
                        <a href="#" class="nav-link active" aria-current="page">
                            <img width="30" height="30" src="https://static.vecteezy.com/system/resources/previews/002/358/936/non_2x/file-folder-icon-free-vector.jpg">
                            Social
                        </a>
                        <a href="#" class="nav-link active" aria-current="page">
                            <img width="30" height="30" src="https://static.vecteezy.com/system/resources/previews/002/358/936/non_2x/file-folder-icon-free-vector.jpg">
                            Económico
                        </a>
                    </li>
                    <li class="list-group-item">
                        <a class="nav-link active" href="#">
                            <img width="30" height="30" src="https://i.etsystatic.com/10425020/r/il/cc05e7/1420451695/il_fullxfull.1420451695_mjws.jpg">
                            Configuración
                        </a>
                            <br  />
                        <a class="nav-link active" href="#">
                            <img width="30" height="30" src="https://cdn-icons-png.flaticon.com/512/1286/1286969.png">
                            Cerrar Sesión
                        </a>
                    </li>
                </ul>
                
            </div>
        </div>